In [8]:
import pandas as pd
import sqlite3

raw_database = sqlite3.connect('stock_price(day).db')

c = raw_database.cursor()
sql = "SELECT * FROM A263810"
data = pd.read_sql(sql, con = raw_database)

print(data)

         date   open   high    low  close   volume
0    20171016   4835   6276   4364   6276  4750683
1    20171017   7288   8158   6989   8158  1029793
2    20171018  10269  10597   9556  10597   338675
3    20171019  12495  13750  10968  12808  3410349
4    20171020  12081  13279  10312  10312  1502457
..        ...    ...    ...    ...    ...      ...
625  20200504   2690   2695   2630   2660    28470
626  20200506   2660   2775   2660   2775    66280
627  20200507   2890   2890   2740   2810    70688
628  20200508   2810   2890   2800   2850    37595
629  20200511   2870   2960   2795   2945    93604

[630 rows x 6 columns]

In [14]:
import ta_lib

temp_data = pd.DataFrame()

stock_code = 'A233740'

temp_data = ta_lib.sma(data, stock_code, 'volume', 10) ## MA_volume_10
temp_data = ta_lib.sma(data, stock_code, 'close', 60) ## MA_close_60
temp_data = ta_lib.compare_price(data, stock_code, 'high', 'close') ## 고가 대비 종가

temp_data['high_by_close_15'] = temp_data['high_by_close'] > 15
temp_data['high_by_close_15_check'] = temp_data.rolling(25)['high_by_close_15'].sum()

temp_data.to_csv('example.csv')

print(temp_data)

         date   open   high    low  close   volume  MA_volume_10  MA_close_60  \
0    20171016   4835   6276   4364   6276  4750683           NaN          NaN
1    20171017   7288   8158   6989   8158  1029793           NaN          NaN
2    20171018  10269  10597   9556  10597   338675           NaN          NaN
3    20171019  12495  13750  10968  12808  3410349           NaN          NaN
4    20171020  12081  13279  10312  10312  1502457           NaN          NaN
..        ...    ...    ...    ...    ...      ...           ...          ...
625  20200504   2690   2695   2630   2660    28470       61162.5  2822.666667
626  20200506   2660   2775   2660   2775    66280       61860.3  2808.416667
627  20200507   2890   2890   2740   2810    70688       63419.8  2795.083333
628  20200508   2810   2890   2800   2850    37595       60300.8  2782.000000
629  20200511   2870   2960   2795   2945    93604       65989.6  2769.250000

     high_by_close  high_by_close_15  high_by_close_15_check
0             0.00             False                     NaN
1             0.00             False                     NaN
2             0.00             False                     NaN
3             7.35             False                     NaN
4            28.77              True                     NaN
..             ...               ...                     ...
625           1.32             False                     1.0
626           0.00             False                     1.0
627           2.85             False                     1.0
628           1.40             False                     1.0
629           0.51             False                     1.0

[630 rows x 11 columns]